<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
 
  <context:component-scan base-package="com.bouncingdata.plfdemo" />
 
  <context:annotation-config />
  <mvc:annotation-driven />
 
 <!-- Forwards requests to the "/" resource to the "welcome" view -->
  <mvc:view-controller path="/" view-name="main" />

  <mvc:resources mapping="/resources/**" location="/resources/" />
  <mvc:resources mapping="/cdn/**" location="/cdn/" />
  
  <bean id="localAppExecutor" class="com.bouncingdata.plfdemo.service.LocalApplicationExecutor">
    <property name="logDir" value="/tmp/bouncingdata"></property>
    <property name="storePath" value="/home/khiem/java/temp/apps"></property>
    <property name="datastoreService" ref="datastoreService" />
  </bean>
 
  <bean id="appStoreService" class="com.bouncingdata.plfdemo.service.ApplicationStoreService">
    <constructor-arg value="/home/khiem/java/temp/apps"></constructor-arg>
  </bean>
  
  <bean id="mainController" class="com.bouncingdata.plfdemo.controller.MainController">
    <property name="datastoreService" ref="datastoreService" />
    <property name="appStoreService" ref="appStoreService" />
    <property name="appExecutor" ref="localAppExecutor" />
  </bean>
  
  <bean id="appController" class="com.bouncingdata.plfdemo.controller.AppController">
    <property name="datastoreService" ref="datastoreService" />
    <property name="appExecutor" ref="localAppExecutor" />
    <property name="appStoreService" ref="appStoreService" />
    <!-- property name="userDataService" ref="userDataService" /-->
  </bean>
  
  <bean id="datasetController" class="com.bouncingdata.plfdemo.controller.DatasetController">
    <property name="datastoreService" ref="datastoreService" />
    <property name="userDataService" ref="userDataService" />
  </bean>
  
  <bean id="visualizeController" class="com.bouncingdata.plfdemo.controller.VisualizeController">
    <property name="appStoreService" ref="appStoreService"></property>
    <property name="datastoreService" ref="datastoreService" />
  </bean>
  
  <bean id="loginController" class="com.bouncingdata.plfdemo.controller.LoginController">
    <property name="datastoreService" ref="datastoreService" />
  </bean>
  
  <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
    <property name="definitions">
      <list>
        <value>/WEB-INF/spring/tiles.xml</value>
      </list>
    </property>
  </bean>

  <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
    <property name="viewClass" value="org.springframework.web.servlet.view.tiles2.TilesView" />
    <property name="order" value="0"></property>
  </bean> 
 
 <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix">
      <value>/WEB-INF/views/</value>
    </property>
    <property name="suffix">
      <value>.jsp</value>
    </property>
    <property name="order" value="2"></property>
  </bean>
</beans>