body, html>body {
  margin: 0 auto;
  font-size: 12px;
  background-color: #FFFFFF; /*#EBEBEB;*/
  font-family: Helvetica,Arial,sans-serif; 
}

/** Global styles **/
body .ui-widget {
  font-size: 1em;
  font-family: Helvetica,Arial,sans-serif;
}

#page input.ui-button, #page button.ui-button .ui-button-text {
  padding: 0.3em 1.5em;
}

#page .ui-tabs .ui-tabs-nav li a {
  padding: 0.3em 1em;
}

#page .ui-widget input, #page .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-size: 0.9em;
}

div.clear {
  clear: both;
}

.ui-tab-nav li a {
  outline: none;
}

/** Layout **/
#page, #page .main-container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

#page .content-container {
  height: 850px;
}

.content-container #main-layout {
  height: 100%;
}

.footer-container {
  width: 100%;
  background-color: #EBEBEB;
}

.footer-container .footer {
  margin: 0 auto;
  padding: 3em 0 7em 0;
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11px;
}

.footer .footer-content {
  text-align: center;
  padding-top: 3em;
  font-size: 0.9em;
}

.footer .footer-horizontal-rule {
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #DDDDDD;
  height: 0;
  margin: 0;
  z-index: -99;
}

/** End Layout **/

.header-container .header-content {
  clear: both;  
  padding: 5px 0 5px 5px;
  font-family: Verdana, Arial, sans-serif;
  background-color: #EBEBEB;
}

.header-container .header-content a, .header-container .header-content a:active, .header-container .header-content a:visited {
  text-decoration: none;
  color: #000000;
}

.search-container #search-form {
  position: relative;
  height: 25px;
}

.search-container #search-form input.ui-button {
  padding: 0.2em 0.5em;
  position: absolute;
  top: 0;
  right: 0;
}

.search-container #search-form input.search-input {
  border: 1px solid #D3D3D3;
  height: 1.5em;
  padding-left: 5px;
  width: 148px;
  position: absolute;
  top: 0;
  left: 0;
}
