.info-label {
  font-weight: bold;
}

.visualization-frame {
  width: 590px;
  height: 400px;
}

.content-container .main-tabs .ui-tabs .ui-tabs-panel {
  padding: 1em 0.8em;
}

.application-container .application-detail {
  padding: 10px 0px 0px 0px;  
}

.code-editor, #page #code-editor {
  font-family: monospace;
  width: 100%;
  font-size: 13px;
  resize: none;
  color: #000000;
}

.application-container .app-actions .ui-widget button, .application-container .console-actions .ui-widget button {
  
}

.application-container .app-actions, .application-container .console-actions {
  margin: 5px 0px;
}

.application-container .application-info .application-title {
  display: inline-block;
}

.application-info .application-title h3 {
  margin: 5px 0;  
}

.application-container .application-info .create-new-app {
  float: right;
}

.application-container .application-info .language-select {
  margin: 5px 0px;
}
.visualization-container #visualization-slider {
  max-height: 500px;
  overflow: auto;
}

.save-app-dialog {
  width: 300px;
  height: 200px;
}

.save-app-dialog input, .save-app-dialog textarea, .save-app-dialog label {
  display: block;
}

/* The console container element */
#console {
  position: relative;
  height: 300px;
  background-color: black;
}

/* The inner console element. */
.jqconsole {
  padding: 10px;
}

/* The cursor. */
.jqconsole-cursor {
  background-color: gray;
}

/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
  background-color: #666;
}

/* The current prompt text color */
.jqconsole-prompt {
  color: #0d0;
}

/* The command history */
.jqconsole-old-prompt {
  color: #0b0;
  font-weight: normal;
}

/* The text color when in input mode. */
.jqconsole-input {
  color: #dd0;
}

/* Previously entered input. */
.jqconsole-old-input {
  color: #bb0;
  font-weight: normal;
}

/* The text color of the output. */
.jqconsole-output {
  color: white;
}