body, html>body {
  margin: 0;
  font-size: 1em;
  background-color: #EBEBEB;
}

/** Main Layout **/

#page {
  margin: 0 auto;  
  background: none repeat scroll 0 0 transparent;
}

.main-container {
  margin: 0;
  background: none repeat scroll 0 0 transparent;
}

.header-container {
  background-color: #EBEBEB;
}

.content-container {
  margin: 0;
}

.footer-container {
  width: 100%;
  background-color: #EBEBEB;
}

.header {
  margin: 0 auto;
  width: 1000px;  
  padding: 10px 0;
}

.content {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 0px 30px 0px;
}

.footer {
  margin: 0 auto;
  width: 1000px;
  padding-bottom: 7em;
  color: #333333;
}

.header .header-content {
  color: #333333;
}

.header .header-content a:link, .header .header-content a:hover, .header .header-content a:active, .header .header-content a:visited {
  text-decoration: none;
  color: #333333;
}

.content-container .content .ui-tabs .ui-tabs-panel {
  padding: 1em 0.8em;
}

.content-container .content .right-content {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  float: right;
  width: 292px;
}

.content-container .content .main-content {
  float: left;
  width: 700px;
}

.content-container .main-content .main-tabs {
  min-height: 500px;
}

.content-container .right-content .search-box #search-form {
  float: right;
  margin: 5px 2px;
  height: 30px;
}

.content-container .right-content .browser-panel #browser-tabs {
  border: 0 none;
}

.footer .footer-content {
  text-align: center;
  padding-top: 3em;
  font-size: 0.9em;
}

.footer .footer-horizontal-rule {
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #DDDDDD;
  height: 0;
  margin: 0;
  z-index: -99;
}

/** Global styles **/
body .ui-widget {
  font-size: 0.9em;
}

#page input.ui-button {
    padding: 0.25em 1em;
}

#page .ui-tabs .ui-tabs-nav li a {
  padding: 0.25em 1em;
}

#page .ui-widget input, #page .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-size: 0.9em;
}