<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
 
  <context:component-scan base-package="khiem.dataprj.demo.plfdemo" />
 
  <mvc:annotation-driven />
 
 <!-- Forwards requests to the "/" resource to the "welcome" view -->
  <mvc:view-controller path="/" view-name="main" />

  <mvc:resources mapping="/resources/**" location="/resources/" />
  
  <bean id="localAppExecutor" class="khiem.dataprj.demo.plfdemo.service.LocalApplicationExecutor">
  </bean>
 
  <bean id="appStoreService" class="khiem.dataprj.demo.plfdemo.service.ApplicationStoreService">
    <constructor-arg value="/home/ec2-user/temp/apps"></constructor-arg>
  </bean>
  
  <bean id="mainController" class="khiem.dataprj.demo.plfdemo.controller.MainController">
    <property name="datastoreService" ref="datastoreService" />
    <property name="appStoreService" ref="appStoreService" />
  </bean>
  
  <bean id="appController" class="khiem.dataprj.demo.plfdemo.controller.AppController">
    <property name="datastoreService" ref="datastoreService" />
    <property name="appExecutor" ref="localAppExecutor" />
    <property name="appStoreService" ref="appStoreService" />
    <property name="userDataService" ref="userDataService" />
  </bean>
  
  <bean id="datasetController" class="khiem.dataprj.demo.plfdemo.controller.DatasetController">
    <property name="datastoreService" ref="datastoreService" />
    <property name="userDataService" ref="userDataService" />
  </bean>
  
  <bean id="visualizeController" class="khiem.dataprj.demo.plfdemo.controller.VisualizeController">
    <property name="appStoreService" ref="appStoreService"></property>
  </bean>
  
  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix">
      <value>/WEB-INF/views/</value>
    </property>
    <property name="suffix">
      <value>.jsp</value>
    </property>
  </bean>
 
</beans>