.analysis-container#main-content {
  position: relative;
}

.analysis-container#main-content .right-content.analysis-info, .datapage-container#main-content .right-content.data-info {
  position: fixed;
  top: 60px;
  bottom: 20px;
  width: 280px;
  right: 10px;
  overflow-x: auto;
  background: transparent;
}

.analysis-container#main-content .analysis-main, .datapage-container#main-content .center-content {
  margin-right: 300px;
  background-color: #FFFFFF;
  min-height: 600px;
  padding: 0;
}

.analysis-container#main-content .center-content .center-content-wrapper .top-rule, .datapage-container#main-content .center-content .center-content-wrapper .top-rule {
  right: 300px;
}

.analysis-container#main-content .analysis-info .anls-summary, .datapage-container#main-content .right-content .summary {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC; 
  padding: 10px;
  border-radius: 4px;
}

.analysis-container#main-content .analysis-info .related-info, .datapage-container#main-content .right-content .related-info  {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 10px;
  border-radius: 4px;
  margin-top: 12px;
  min-height: 40px;
}

#main-content .right-content .related-info a {
  text-decoration: none;
  color: blue;
}

.analysis-container#main-content .analysis-main .anls-dashboard {
  position: relative;
  width: 800px;
  height: 600px;
  border: 1px solid #CCCCCC;
}

.anls-dashboard .viz-container {
  border: 1px none;
  background: none repeat scroll left top #FFFFFF;
  overflow: hidden;
}

.anls-dashboard .viz-container .viz-handle {
  height: 12px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: none repeat scroll left top #FFFFFF;
  opacity: 0;
}

.anls-dashboard .viz-container .viz-handle .permalink {
  opacity: 0;
  float: right;
  color: #333333;
  margin-right: 5px;
  font-size: 10px;
  text-decoration: none;
}

.anls-dashboard .viz-container > iframe {
  border: 1px none;
  overflow: hidden;
}

.analysis-main .anls-header {
  padding: 15px;
}

.analysis-main .anls-header-rule {
  height: 0;
  border-top: 0 none;
  border-bottom: 1px solid #CCCCCC;
}

.anls-header .anls-title h2 {
  margin: 0;
}

.analysis-main .anls-content, .analysis-main .comments-container {
  padding: 15px;
}

.analysis-info .anls-info-header, .right-content .info-header {
  margin-bottom: 15px;
  border-bottom: 1px solid #CCCCCC;
}

.right-content .anls-info-header .anls-info-title, .info-header .info-title {
  background-color: #FFF;
  bottom: -5px;
  display: inline-block;
  font-weight: bold;
  padding-right: 5px;
  position: relative;
  text-transform: uppercase;
  color: #444444;
}

#anls-content {
  width: 800px;
}
.anls-content ul.anls-tabs, .data-content ul {
  float: right;
}

.anls-content ul.anls-tabs {
  width: 204px;
}

.anls-content .anls-tabs-content-wrapper > .ui-tabs-panel {
  padding: 0;
} 

/** Tabs **/
.anls-tabs { 
  margin: 0; 
  padding: 0; 
}

.anls-tab {
  display: inline-block;
  zoom: 1;
  *display: inline;
  background: #fff;
  /*border: solid 1px #999;
  border-bottom: none;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  */
}

.anls-tab a {
  /*font-size: 14px;
  line-height: 2em;
  display: block;
  padding: 0 10px;
  outline: none;
  text-decoration: none;
  color: #000;*/
}

.anls-tab a:hover {
  color: #003399;
}

.anls-tab.active {
  background: #eee;
  padding-top: 6px;
  position: relative;
  top: 1px;
  /*border-color: #666;*/
}

.anls-tab a.active {
  font-weight: bold;
}

.anls-tab-container .panel-container {
  background: #fff;
  border: solid #666 1px;
  padding: 10px;
  -moz-border-radius: 0 4px 4px 4px;
  -webkit-border-radius: 0 4px 4px 4px;
}


.anls-content .anls-code .code-block {
  /*background-color: #EEEEEE;
  padding: 6px;*/
  font-size: 13px;
}

.anls-content #anls-code #code-block .syntaxhighlighter {
  padding: 10px 0;
}

.anls-content .anls-code .code-block pre {
  white-space: pre-wrap;
  word-wrap: break-word; 
}

#comment-form form input, #comment-form form textarea, #comment-form form label {
  display: block;
  margin-bottom: 8px;
}

#comment-form {
  width: 600px;
  margin-top: 10px;
}

#comment-form form label {
  width: 80px;
  float: left;
}


#comment-form fieldset p {
  margin: 0;
}

#comment-form fieldset input#comment-title, #comment-form fieldset textarea#message {
  width: 600px;
  border: 1px solid #BBBBBB;
  padding: .2em;
}

#comment-form fieldset textarea#message {
  font-family: Arial, sans-serif;
  font-size: 13px;
  resize: vertical;
  min-height: 30px;
  border-radius: 3px;
}

#comment-form fieldset {
  border: 0 none;
  padding: 0;
}

.comments-container .comments {
  margin: 20px 0;
  min-height: 22px;
}

.comments-container h3.comments-title, .comments-container h3.comments-title a {
  color: #000000;
  text-decoration: none;
  margin: 0;
}

#comment-form .comment-submit {
  float: right;
}

.comments-container ul#comment-list {
  list-style: none;
  background: #fff url('../../images/loader32.gif') no-repeat scroll left top;
  min-height: 20px;
  width: 800px;
  padding-left: 0;
}

.comments-container li.comment-item {
  padding-top: 15px;
  border-top: 1px dotted #CCCCCC;  
}

.comment-item .comment-author {
  font-weight: bold;  
}

.comment-item .comment-footer .comment-date {
  color: #666666;
}

.comment-item ul.children {
  list-style: none;
  padding-left: 30px;
  margin: 15px 0;
}

.comment-item .inline-editor {
  width: 600px;
}

.comment-item .inline-editor textarea.reply-text {
  width: 598px;
  border: 1px solid #BBBBBB;
  display: block;
  resize: none;
  max-width: 594px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  padding: 2px;
  margin: 5px 0;
  resize: vertical;
  min-height: 30px;
  border-radius: 3px;
}

.comment-item .comment-editor .reply-button {
  float: right;
}

li.comment-item .comment-footer a, .anls-header .anls-action-links a {
  color: blue;  
  text-decoration: none;
}

li.comment-item .comment-footer a:hover, .anls-header .anls-action-links a:hover {
  color: #333;  
  cursor: pointer;
}

li.comment-item .comment-score.comment-score-positive, .anls-score.anls-score-positive {
  color: green;
}

li.comment-item .comment-score.comment-score-negative, .anls-score.anls-score-negative {
  color: red;
}

li.comment-item .comment-score, .anls-score {
  color: orange;
}

.anls-header .anls-action-links {
  margin-top: 4px;
}

.anls-header .anls-action-links .anls-score {
  margin: 0;
  display: inline;
}

.anls-header .embedded-link {
  clear: both;
  margin-top: 2px;
}

.anls-header .embedded-link #embedded-link-text {
  border: 1px solid #CCCCCC;
  resize: vertical;
  height: 60px;
  min-height: 60px;
  width: 600px;
  padding: 4px;
  font-family: monospace;
  color: #333;
  border-radius: 2px;
}

.dataset-item-title {
  margin: 5px 0;  
}

.dataset-item-title a {
  text-decoration: none;
  color: #000;
}

.anls-data, #dataset-content #data {
  
}

#dataset-content #data .dataTables_wrapper {
  overflow: auto;
}

.anls-data .anls-dataset, .anls-data .anls-attachment {
  overflow-x: auto;
}