.analysis-container#main-content {
  position: relative;
}

.analysis-container#main-content .analysis-info {
  position: fixed;
  top: 60px;
  bottom: 20px;
  width: 280px;
  right: 10px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  background-color: transparent;
}

.analysis-container#main-content .analysis-main {
  margin-right: 300px;
  background-color: #FFFFFF;
  min-height: 600px;
  padding: 0;
}

.analysis-container#main-content .center-content .center-content-wrapper .top-rule {
  right: 300px;
}

.analysis-container#main-content .analysis-info .anls-main-info {
  /*background-color: #FFFFFF;
  border: 1px solid #CCCCCC; */
  padding: 10px;
}

.analysis-container#main-content .analysis-info .anls-related-info {
  /*background-color: #FFFFFF;
  border: 1px solid #CCCCCC;*/
  padding: 10px;
}

.analysis-container#main-content .analysis-main .anls-dashboard {
  position: relative;
  width: 800px;
  height: 600px;
  border: 1px solid #999999;
}

.anls-dashboard .viz-container {
  border: 1px none;
  background: none repeat scroll left top #FFFFFF;
  overflow: hidden;
}

.anls-dashboard .viz-container .viz-handle {
  height: 12px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: none repeat scroll left top #FFFFFF;
  opacity: 0;
}

.anls-dashboard .viz-container .viz-handle .permalink {
  opacity: 0;
  float: right;
  color: #333333;
  margin-right: 5px;
  font-size: 10px;
  text-decoration: none;
}

.anls-dashboard .viz-container > iframe {
  border: 1px none;
  overflow: hidden;
}

.analysis-main .anls-header {
  padding: 20px 0 20px 10px;
}

.analysis-main .anls-header-rule {
  height: 0;
  border-top: 0 none;
  border-bottom: 1px solid #CCCCCC;
}

.anls-header .anls-title h2 {
  margin: 0;
}

.analysis-main .anls-content, .analysis-main .comments-container {
  padding: 10px;
}

.analysis-info .anls-info-header {
  margin-bottom: 15px;
  border-bottom: 1px solid #CCCCCC;
}

.anls-info-header .anls-info-title {
  background-color: #F1F1F1;
  bottom: -5px;
  display: inline-block;
  font-weight: bold;
  padding-right: 5px;
  position: relative;
  text-transform: uppercase;
  color: #444444;
}


/** Tabs **/
.anls-tabs { 
  margin: 0; 
  padding: 0; 
}

.anls-tab {
  display: inline-block;
  zoom: 1;
  *display: inline;
  background: #fff;
  /*border: solid 1px #999;
  border-bottom: none;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  */
}

.anls-tab a {
  font-size: 14px;
  line-height: 2em;
  display: block;
  padding: 0 10px;
  outline: none;
  text-decoration: none;
  color: #000;
}

.anls-tab a:hover {
  color: #003399;
}

.anls-tab.active {
  background: #eee;
  padding-top: 6px;
  position: relative;
  top: 1px;
  /*border-color: #666;*/
}

.anls-tab a.active {
  font-weight: bold;
}

.anls-tab-container .panel-container {
  background: #fff;
  border: solid #666 1px;
  padding: 10px;
  -moz-border-radius: 0 4px 4px 4px;
  -webkit-border-radius: 0 4px 4px 4px;
}

.anls-content .anls-code .code-block {
  background-color: #EEEEEE;
  padding: 6px;
}

.anls-content .anls-code .code-block pre {
  white-space: pre-wrap;
  word-wrap: break-word; 
}