#main-content .stream-container {
  padding: 10px;
}

#main-content .stream-container #stream .event {
  margin: 20px 0;
}

#main-content #stream .event .event-actor {
  float: left;
}

#main-content #stream .event .avatar {
  width: 100px;
  height: 100px;
  border: 1px solid #DDDDDD;
}

#main-content #stream .event .event-content {
  float: left;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  margin-left: 10px;
  padding: 4px;
  width: 500px;
}

#main-content #stream .event .event-content {
}

#main-content #stream .event .event-content .thumbnail {
  border: 1px solid #EEEEEE;
  margin: 10px 5px 0 0;
  float: left;
}

#main-content #stream .event .event-content .thumbnail a {
  width: 150px;
  height: 200px;
  display: block;
}

#main-content #stream .event .event-content  .title {
}

#main-content #stream .event .event-content  .title a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

#main-content #stream .event .event-content  .title, #main-content #stream .event .event-content .description {
  
}

#main-content #stream .event .event-content .time {
  float: right;
  color: #CCCCCC;
}

#stream .event .event-score.event-score-positive {
  color: green;
}

#stream .event .event-score.event-score-negative {
  color: red;
}

#stream .event .event-footer {
  float: right;
}

#stream .event .event-score {
  color: orange;
}

#stream .event .event-footer a {
  color: #000;
  text-decoration: none;
}

#stream .event .event-footer a:hover {
  color: #333;
}
