#main-content .center-content-main {
  padding: 10px;
  padding-right: 280px;
}

#main-content .center-content-side {
  float: right;
  width: 260px;
  padding: 10px;
}

#main-content .stream-container #stream .event {
  margin: 20px 0;
}

#stream .event .event-avatar {
  float: left;
  cursor: pointer;
}

#stream .event img.avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}

#stream .event .event-content {
  float: left;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  margin-left: 10px;
  padding: 5px 10px;
  width: 480px;
}

#stream .event-content:hover {
  border-color: #CCCCCC;
}

#stream .event a {
  color: #000;
  text-decoration: none;
}

#stream .event-content:hover a {
  color: #003366;
}

#stream .event .event-content .thumbnail {
  border: 1px solid #EEEEEE;
  margin: 10px 10px 0 0;
  float: left;
}

#stream .event .event-content .thumbnail a {
  display: block;
}

#stream .event .event-content .thumbnail a img {
  width: 90px;
  height: 90px;
}

#stream .event .event-content .time {
  float: right;
  color: #CCCCCC;
}

#stream .event .event-score.event-score-positive {
  color: green;
}

#stream .event .event-score.event-score-negative {
  color: red;
}

#stream .event .event-footer {
  float: right;
}

#stream .event .event-score {
  color: orange;
}


