.workbench-container#main-content {
  position: fixed;
  top: 60px;
  right: 0;
  left: 100px;
  bottom: 10px;
}

.workbench-container#main-content .workbench-browser {
  position: fixed;
  top: 60px;
  bottom: 20px;
  width: 248px;
  right: 10px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

.workbench-container#main-content .workbench-ide {
  margin-right: 270px;
  background-color: #FFFFFF;
  height: 100%;
}

.workbench-ide .workbench-main-tabs {
  padding: 2px;
  border: 0 none;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 10px;
}

.workbench-ide .workbench-toolbar {
  height: 30px;
  padding: 5px;
}

.workbench-toolbar .app-actions {
  display: inline-block;
  padding: 2px;
}

.workbench-ide-content .app-status, .workbench-ide-content .app-info, .workbench-ide-content .new-app-info {
  float: left;
}

.workbench-main-tabs .workbench-main-tabs-bar li .ui-icon-close { 
  float: left; 
  margin: 0.2em 0.2em 0 0; 
  cursor: pointer; 
  border: 1px solid transparent;
}

.workbench-main-tabs .workbench-main-tabs-bar li .ui-icon-close:hover {
  border-radius: 3px;
  border: 1px solid #BEBEBE;
}

.workbench-main-tabs .workbench-main-tabs-bar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.workbench-main-tabs .workbench-main-tabs-bar li a {
  outline: none;
}

.workbench-main-tabs > div.ui-tabs-panel {
  padding: 10px;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.workbench-main-tabs .workbench-content-container, .workbench-main-tabs .workbench-content-container .workbench-content-layout {
  height: 100%;
}

.workbench-ide-content .app-editor-tabs.app-editor-container {
  position: relative;
  margin-top: 20px;
}

.workbench-ide-content .app-editor-tabs > ul {
  position: absolute;
  top: -32px;
  right: 0;
}

.workbench-ide-content .app-code, .workbench-ide-content .app-code .app-code-layout {
  height: 350px;
}

.workbench-ide-content .app-code .app-code-layout-center>div {
  height: 328px;
  position: relative;
  padding: 0;
  margin: 0;
  border: 0 none;
}

.workbench-ide .workbench-ide-content .app-code-editor {
  border: 1px solid #D3D3D3;
  margin: 1em 0 0 0;
}

.workbench-ide-content .code-editor {
  width: 100%;
  font-size: 13px;
  resize: none;
  border: 0;
  padding: 0;
  margin: 0;
  height: 328px;
}

.workbench-ide-content .execution-logs .console-actions {
  margin-top: 5px;
}

.execution-logs .console-actions input.ui-button {
  float: right;
}

.workbench-ide-content .app-output-tabs {
  margin-top: 10px;
}

.workbench-ide-content .app-output-tabs .app-output-data, .workbench-ide-content .app-output-tabs .app-output-code {
  overflow-x: auto;
}

.workbench-ide-content .execution-logs {
  position: relative;
  margin-top: 10px;
}

/** Visualization styles **/

.workbench-ide-content .app-viz {
  overflow-y: auto;  
}

.workbench-ide-content .app-viz .app-viz-dashboard {
  position: relative;
  overflow: hidden;
}

.workbench-ide-content .app-viz .dashboard-ruler {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 450px;
  width: 800px;
  border: 0 none;
}

.app-viz .dashboard-ruler .snap-line {
  position: absolute;
  opacity: 0;  
  z-index: 9999;
}

.app-viz .dashboard-ruler .snap-line-left, .app-viz .dashboard-ruler .snap-line-right {
  border: 0 none;
  width: 1px;
  background-color: #00FF00;
}

.app-viz .dashboard-ruler .snap-line-top, .app-viz .dashboard-ruler .snap-line-bottom {
  border: 0 none;
  height: 1px;
  background-color: #00FF00;
}

.app-viz .dashboard-ruler .ruler {
  position: absolute;
  z-index: 9999;
}

.app-viz .dashboard-ruler .dashboard-ruler-top {
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background: url('../../images/ruler-top.gif') repeat-x scroll left top transparent;
}

.app-viz .dashboard-ruler .dashboard-ruler-left {
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: url('../../images/ruler-left.gif') repeat-y scroll left top transparent;
}

.app-viz .dashboard-ruler .dashboard-ruler-right {
  right: 0;
  top: 0; 
  height: 100%;
  width: 10px;
  background: url('../../images/ruler-left.gif') repeat-y scroll right top transparent;
}

.app-viz .dashboard-ruler .dashboard-ruler-bottom {
  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background: url('../../images/ruler-top.gif') repeat-x scroll left bottom transparent;
}

.workbench-ide-content .app-viz .viz-dashboard {
  min-height: 450px;
  border: 0 none;
  width: 800px;
  background: url('../../images/grid.gif') repeat scroll left top transparent;
}

.workbench-ide-content .app-viz .viz-dashboard .viz-container {
  border: 1px solid #999999;
  background: none repeat scroll left top #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.workbench-ide-content .app-viz .app-output-actions {
  margin: 10px 0;
}

.workbench-ide-content .app-viz .viz-dashboard .viz-container-hover {
  /*border: 1px dotted #888888;*/
  border: 1px dotted #347C17;
}

.workbench-ide-content .app-viz .viz-dashboard .viz-container .ui-resizable-handle {
  opacity: 0;
}

.workbench-ide-content .app-viz .viz-dashboard .viz-container-hover .ui-resizable-handle {
  opacity: 1;
}

.workbench-ide-content .app-viz .viz-dashboard .viz-container > iframe {
  border: 1px dashed #DDDDDD;  
  overflow: hidden;
}

.app-viz .viz-dashboard .viz-container .viz-handle {
  height: 12px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: none repeat scroll left top #C0C0C0;
}

.app-viz .viz-dashboard .viz-container .viz-handle-hover {
  /*background: #BBBBBB no-repeat scroll left top;*/
  cursor: crosshair;
}

.workbench-ide-content .app-viz .viz-dashboard .viz-container .viz-handle .permalink {
  opacity: 0;
  float: right;
  color: #333333;
  margin-right: 5px;
  font-size: 10px;
  text-decoration: none;
}

.workbench-ide-content .app-viz .viz-dashboard .viz-container .viz-handle-hover .permalink {
  opacity: 0.9;
}

.visualization-item-frame {
  border: 1px solid #CCCCCC;
  width: 100%;
  height: 400px;
}

/** Iframe fix for dragging/resizing **/
body>div.resizable-iframe-fix, body>div.ui-draggable-iframeFix {
  position: absolute; 
  opacity: 0.001; 
  z-index: 9999 !important;
}

/** Dataset view styles **/

.dataset-view-container .dataset-view-info p {
  margin: 10px 0;
}

.dataset-view-container .dataset-view-main .dataset-query-editor {
  border: 1px solid #D3D3D3;
  margin: 1em 0 0 0;
}

.workbench-main-tabs .dataset-view-container, .workbench-main-tabs .dataset-view-container .dataset-view-layout {
  height: 100%;
}

.dataset-view-main .dataset-query {
  margin: 30px 0 10px;
}

.dataset-view-main .dataset-query .dataset-query-actions {
  margin-top: 5px;
  float: right;
}

/** Console styles **/

/* The console container element */
.workbench-ide-content .execution-logs .console {
  position: relative;
  height: 200px;
  background-color: #CCC;
  font-size: .9em;
  border: 1px solid #D3D3D3;
}

/* The inner console element. */
.jqconsole {
  padding: 10px;
}

/* The cursor. */
.jqconsole-cursor {
  background-color: gray;
}

/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
  background-color: #666;
}

/* The current prompt text color */
.jqconsole-prompt {
  color: #0d0;
}

/* The command history */
.jqconsole-old-prompt {
  color: #0b0;
  font-weight: normal;
}

/* The text color when in input mode. */
.jqconsole-input {
  color: #dd0;
}

/* Previously entered input. */
.jqconsole-old-input {
  color: #bb0;
  font-weight: normal;
}

/* The text color of the output. */
.jqconsole-header, .jqconsole-output {
  color: #000000;
}

/* New application dialog styles */
#save-app-dialog {
  padding: 10px 10px 0 10px;
}

#save-app-dialog form {
}

#save-app-dialog form input, #save-app-dialog form textarea, #save-app-dialog form label, #save-app-dialog form select {
  display: block;
  float: left;
  margin-bottom: 8px;
}

#save-app-dialog form label {
  text-align: right;
  padding-right: 10px;  
  width: 120px;
}

#save-app-dialog fieldset, #publish-dialog fieldset {
  padding: 12px;
  border: 1px solid #DDDDDD;
  border-radius: 1px;
}

#save-app-dialog br, #publish-dialog br {
  clear: left;
}

#save-app-dialog fieldset input, #save-app-dialog fieldset textarea {
  width: 250px;
  border: 1px solid #BBBBBB;
  padding: .2em;
}

#save-app-dialog form .app-privacy span {
  float: left;
  margin: 0;
}

#save-app-dialog form .app-privacy input {
  float: left;
  margin: 0 5px 0 0; 
}

#publish-dialog form textarea, #publish-dialog form label {
  display: block;
  float: left;
  margin-bottom: 8px;
}

#file-upload-form .upload-in-progress, #file-upload-form .upload-status {
  display: none;
}

#file-upload-form fieldset {
  border: 0 none;
}

.popup#new-dialog {
  min-height: 0 !important;
}

.popup#new-dialog ul {
  list-style: none;
  padding: 0;
  border: 1px solid #CCC;
  border-radius: 3px;
  background-color: #EEE;
}

.popup#new-dialog li {
  padding: 10px;
  border-top: 1px solid #CCC;
}

.popup#new-dialog li:hover {
  cursor: pointer;  
}

.popup#new-dialog li:first-child {
  border-top: none;
}

.popup#new-dialog ul a {
  text-decoration: none;
}